@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
	--breakpoint-xs: 480px;
	--breakpoint-md: 850px;
}

:root {
	font-family: "Amiko", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
}

.font-encode-sans {
	font-family: "Encode Sans SC", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 400;
	font-variation-settings: "wdth" 87.5;
}

.font-encode-sans-condensed {
	font-family: "Encode Sans SC", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 700;
	font-variation-settings: "wdth" 75;
}
